*{
	font-size: 12px;
	margin:0 auto;
}

body{width:100%; background-image:url(../../../images/unit/vip/bg.jpg); background-repeat:repeat;}
#allnet{text-align:center; margin-left:auto; margin-right:auto; width:950px; padding-bottom:5px; background-color:#fff;}
#school{width:950px; float:left; background-color:#fff; padding-bottom:5px;}
#star{width:930px; float:left; margin-left:10px; display:inline;}
a img{border:none;} 
li{list-style-type:none;}
.clear{clear:both;}
a.video{
	background-image: url(../../../images/unit/vip/v.jpg);
	background-repeat: no-repeat;
	padding-left:15px;
	background-position:left center;
}
a.scho{
	background-image:url(../../../images/unit/vip/schol.gif);
	background-repeat: no-repeat;
	padding-left:18px;
	background-position:left center;
}
.ad{width:100%; float:left; margin-top:5px; display:inline; text-align:center; clear:both;}
/* µÇÂ½¿ò */
.bj_live{width:100%; height:24px; text-align:center; float:left; display:inline;}
.bj_live p{line-height:24px; text-align:left; padding-left:10px; font-size:13px; color:#333;}
.bj_live a:link {color:#333; text-decoration:none;}
.bj_live a:visited  {color:#333; text-decoration:none; }
.bj_live a:hover {color:#333; text-decoration:underline;}
.bj_live_left{ float:left; padding-left:5px; text-align:left; padding-top:3px;}
.bj_live_right{float:right; text-align:left; width:370px; background-image:url(../../../images/unit/vip/xg.jpg); height:24px; padding:0;}
.bj_live_right li{float:left; margin-left:9px; display:inline; text-align:left; color:#443f39; line-height:24px;}
.bj_live_right a:link {color:#443f39; text-decoration:none;}
.bj_live_right a:visited  {color:#443f39; text-decoration:none; }
.bj_live_right a:hover {color:#443f39; text-decoration:underline;}
/* logo */
.logo{ width:100%; float:left; margin-top:5px; text-align:center; display:inline; clear:both;}
.logo_vi{width:212px; float:left; text-align:center;}
.logo_ad{ float:right; text-align:left; margin-top:2px; display:inline; height:30px; background-image:url(../../../images/unit/vip/bj_nav.jpg); background-repeat:repeat-x;}
.logo_ad_left{width:5px; float:left; text-align:center; height:30px;}
.logo_center{padding:0; padding-right:5px; float:left; text-align:left;}
.logo_center li{float:left; margin-left:12px; padding-right:10px; text-align:left; line-height:30px; display:inline; background-image:url(../../../images/unit/vip/bj_cen.jpg); background-repeat:no-repeat; background-position:right center;}
.logo_center li a:link {color:#fff; text-decoration:none;}
.logo_center li a:visited  {color:#fff; text-decoration:none; }
.logo_center li a:hover {color:#fff; text-decoration:underline;}

.left_list{width:225px; float:left; margin-top:5px; display:inline; text-align:center;}
.left_list_t{width:100%; height:10px; text-align:center; float:left;}
.left_list_c{width:223px; border-left:1px solid #fdd9c3; background-color:#fff8e8; float:left; border-right:1px solid #fdd9c3;}
.list{width:201px; float:left; margin-top:5px; margin-left:10px; display:inline; text-align:center; border:1px solid #dadada; background-color:#fff;}
.list_pic{padding:5px; text-align:center;}
.qiannian{width:203px; float:left; margin-left:10px; margin-top:5px; display:inline;}
.qiannian h1{width:201px; text-align:center; background-image:url(../../../images/unit/vip/f_1.jpg); background-repeat:repeat-x; border:1px solid #dadada; height:25px; line-height:25px; color:#333;}
.qiannian ul{width:100%; margin-top:5px; padding:0; float:left;}
.qiannian li{width:100%; text-align:left; line-height:22px; color:#333; float:left;}
.qiannian li a:link {color:#333; text-decoration:none;}
.qiannian li a:visited  {color:#333; text-decoration:none; }
.qiannian li a:hover {color:#333; text-decoration:underline;}



.buman{width:695px; float:right; margin-top:5px; display:inline; text-align:center;}
.kusha{width:693px; border:1px solid #e7deaa; float:left; margin-top:5px; display:inline;}
.kusha h1{width:100%; height:27px; clear:both; background-image:url(../../../images/unit/vip/st.jpg); background-repeat:repeat-x; float:left;}
.wqb{padding:0; width:100%; float:left;} 
.wqb li{width:78px;  text-align:center; height:27px; line-height:27px; float:left; margin-left:5px; display:inline;}
.wqb li a:link { color:#333; text-decoration:none; font-weight:bold; font-size:13px; display:block; width:78px; height:27px;}
.wqb li a:visited {color:#333; text-decoration:none; font-weight:bold; font-size:13px; display:block; width:78px; height:27px;}
.wqb li a:hover { color:#333;text-decoration:none; font-weight:bold; font-size:13px; display:block; background-image:url(../../../images/unit/vip/bj_7.jpg); width:78px; height:27px;}
.nah{width:663px; float:left; margin-left:15px; margin-top:10px; display:inline;}
.nah p{width:100%; text-align:left; line-height:23px; font-size:12px; color:#333; text-indent:20px;}
.yiay{width:100%; float:left; margin-top:10px; display:inline; background-image:url(../../../images/unit/vip/bj_8.jpg); background-repeat:repeat-x; padding-bottom:10px;}
.gsi{width:154px; margin-left:15px; margin-top:10px; display:inline; float:left; background-color:#fff;}
.gsi img{padding:5px; text-align:center;}

.car-7{ width:663px; margin-left:15px; margin-top:10px; float:left; display:inline; background-color:#dadada; text-align:center;}
.car-7 table{ width:663px; float:left;}
.car-7 td{background-color:#fff; padding:7px;}
.car-7 th{background-color:#f1f1f1; padding:7px;}
.car-7 a:link {color:#063f95; text-decoration:underline;}
.car-7 a:visited  {color:#063f95; text-decoration:underline; }
.car-7 a:hover {color:#063f95; text-decoration:underline;}
.foot{
	width:100%;
	line-height:20px;
	clear:both;
	color:#666;
	margin-top:5px;
	float:left;
}
.foot .text{ border-top:3px solid #e0e0e0;  clear:both; color:#666; text-align:center; padding-top:5px;}
.foot a:link {
	color: #333;
	text-decoration:none;
}
.foot a:visited {
	color: #333;
	text-decoration:none;
}
.foot a:hover {
    color: #cc0000;
	text-decoration: underline;
}








